<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>

<div th:replace="cookiebanner :: #cookie-banner"></div>
<script th:src="@{/js/cookie.js}"></script>

<div th:replace="mobilemenu :: gigel"></div>
<nav th:replace="header :: nav"></nav>

<div class="hero overlay">
  <div class="img-bg rellax">
    <img src="images/hero_2.jpg" alt="Image" class="img-fluid">
  </div>
</div>

<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/friends.css">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content" class="content content-full-width">
        <div class="profile">
          <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
              <div class="profile-header-img">
                <img th:if="${user != null && user.profilePhoto != null}" th:src="${user.profilePhoto}" alt="">
                <img th:unless="${user != null && user.profilePhoto != null}" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
              </div>
              <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">User Name</h4>
                <p class="m-b-10" th:if="${user != null && user.aboutMe != null}" th:text="${user.aboutMe}">User Description</p>
                <div style="height: 50px;"></div>
              </div>
            </div>
            <ul class="profile-header-tab nav nav-tabs">
              <li class="nav-item"><a th:href="@{/profile}">POSTS</a></li>
              <li class="nav-item"><a th:href="@{/profile_about}">ABOUT</a></li>
              <li class="nav-item"><a th:href="@{/profile_photos}">PHOTOS</a></li>
              <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-videos" target="__blank" class="nav-link_">VIDEOS</a></li>
              <li class="nav-item"><a th:href="@{/friends}" class="nav-link active">FRIENDS</a></li>
            </ul>
          </div>
        </div>

        <div class="profile-content">
          <div class="tab-content p-0">
            <div class="tab-pane fade in active show" id="profile-friends">
              <h4 class="m-t-0 m-b-20">Friend List (14)</h4>
              <div class="row row-space-2">
                <!-- Friend Card Example -->
                <div class="col-md-6 m-b-2">
                  <div class="p-10 bg-white">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="media align-items-center">
                        <a class="media-left" href="javascript:;">
                          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle" style="width: 40px; height: 40px;">
                        </a>
                        <div class="media-body ml-3">
                          <b class="text-inverse">James Pittman</b>
                        </div>
                      </div>
                      <!-- Buton personalizat fără Bootstrap -->
                      <div class="custom-dropdown">
                        <button class="custom-btn" onclick="toggleDropdown()">Friends ⏷</button>
                        <div id="dropdown-menu" class="custom-menu">
                          <a href="javascript:;" onclick="removeFriend(this)">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Friend -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Script custom dropdown -->
<script>
  function toggleDropdown() {
    const menu = document.getElementById("dropdown-menu");
    menu.style.display = (menu.style.display === "block") ? "none" : "block";
    document.addEventListener("click", function handler(e) {
      if (!e.target.closest(".custom-dropdown")) {
        menu.style.display = "none";
        document.removeEventListener("click", handler);
      }
    });
  }

  function removeFriend(el) {
    const card = el.closest('.col-md-6');
    if (card) card.remove();
  }
</script>
<section th:replace="footer :: section"></section>
</body>
</html>
