<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/terms.css">
    <link rel="stylesheet" href="css/return.css">
    <link rel="stylesheet" href="css/produs.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/privacy.css">
    <link rel="stylesheet" href="./login.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/guide.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="./profile.css">
    <link rel="stylesheet" href="css/favorites.css">

    <script src="scripts/about.js"></script>
    <script src="scripts/cart.js"></script>
    <script src="scripts/search.js"></script>
    <script src="scripts/product.js"></script>
    <script src="scripts/profile.js"></script>
    <script src="scripts/favorites.js"></script>

    <title>House of Jordan</title>
</head>

<section class="hero-section">
        <div class="hero-text">
            House Of Jordan
        </div>
    </section>    

<div class="login-modal">
        <div class="login-modal-content">
            <div class="tab-menu">
                <button id="login-tab" class="active">Login</button>
                <a href="index.php?page=signup"><button id="register-tab">Create Account</button></a>
            </div>

            <div id="login-form" class="form-content active">
                <div class="social-login">
                    <button><img src="images/facebook_rotund.png" alt="Facebook"> Login with Facebook</button>
                    <button><img src="images/apple.png" alt="Apple"> Login with Apple ID</button>
                    <button><img src="images/google.png" alt="Google"> Login with Google</button>
                </div>

                <div class="separator"><span>or with E-MAIL</span></div>

                <form action="index.php?page=login" method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" class="login-button">Login</button>
                </form>

                <a href="#">Forgot password?</a><br>
            </div>

        </div>
    </div>