<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>

<div th:replace="cookiebanner :: #cookie-banner"></div>
<script th:src="@{/js/cookie.js}"></script>
<script th:src="@{/js/profile_photos_lightbox.js}"></script>

<div th:replace="mobilemenu :: gigel"></div>
<nav th:replace="header :: nav"></nav>
<div class="hero overlay">
    <div class="img-bg rellax">
        <img src="images/hero_2.jpg" alt="Image" class="img-fluid">
    </div>
</div>
<link rel="stylesheet" href="/css/profile_photos.css">

<div id="content" class="container p-0">
    <div class="profile-header">
        <!-- Update the profile-header-cover div to use the cover photo if available -->
        <div class="profile-header-cover" th:style="${user != null && user.coverPhoto != null ? 'background-image: url(' + user.coverPhoto + ');' : ''}"></div>
        <div class="profile-header-content">
            <div class="profile-header-img">
                <img th:if="${user != null && user.profilePhoto != null}" th:src="${user.profilePhoto}" alt="">
                <img th:unless="${user != null && user.profilePhoto != null}" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
            </div>
            <div class="profile-header-info">
                <h4 class="m-t-sm" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">User Name</h4>
                <p class="m-b-sm" th:if="${user != null && user.aboutMe != null}" th:text="${user.aboutMe}">User Description</p>
                <div style="height: 70px;"></div>
            </div>
        </div>
        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a th:href="@{/profile}">POSTS</a></li>
            <li class="nav-item"><a th:href="@{/profile_about}">ABOUT</a></li>
            <li class="nav-item"><a th:href="@{/profile_photos}" class="nav-link active">PHOTOS</a></li>
            <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-videos" target="__blank" class="nav-link_">VIDEOS</a></li>
            <li class="nav-item"><a th:href="@{/friends}">FRIENDS</a></li>
        </ul>
    </div>

    <div class="profile-container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="tab-content p-0 text-center">
                    <div class="tab-pane active show" id="profile-photos">
                        <div class="m-b-10 text-start"><b>Photos (30)</b></div>
                        <ul class="img-grid-list">
                            <!-- ✅ LISTA COMPLETĂ MODIFICATĂ -->
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/008B8B/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/008B8B/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/6495ED/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/6495ED/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/4169E1/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/4169E1/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/FF7F50/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/FF7F50/000000" alt="" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/FF0000/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/FF0000/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/6495ED/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/6495ED/000000" alt="" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/B0E0E6/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/B0E0E6/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/9932CC/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/9932CC/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/DB7093/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/DB7093/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/FF1493/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/FF1493/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/191970/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/191970/000000" alt="" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/FF8C00/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/FF8C00/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/EEE8AA/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/EEE8AA/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/1E90FF/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/1E90FF/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/3CB371/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/3CB371/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/9932CC/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/9932CC/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/B0C4DE/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/B0C4DE/000000" alt="" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/ADD8E6/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/ADD8E6/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/008B8B/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/008B8B/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/D3D3D3/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/D3D3D3/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/008B8B/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/008B8B/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/20B2AA/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/20B2AA/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/48D1CC/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/48D1CC/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/008B8B/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/008B8B/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/6495ED/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/6495ED/000000" alt="" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/008B8B/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/008B8B/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/FFC0CB/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/FFC0CB/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/008B8B/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/008B8B/000000" alt="" class="img-portrait" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/DDA0DD/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/DDA0DD/000000" alt="" /></a></li>
                            <li><a href="#" data-src="https://www.bootdey.com/image/150x150/008B8B/000000" onclick="openLightbox(event, this)"><img src="https://www.bootdey.com/image/150x150/008B8B/000000" alt="" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section th:replace="footer :: section"></section>

<div id="lightbox" class="lightbox" onclick="closeLightbox(event)">
    <span class="lightbox-close" onclick="closeLightbox(event)">&times;</span>
    <img id="lightbox-img" class="lightbox-content" src="/placeholder.svg" alt="">
    <a class="lightbox-prev" onclick="changeImage(-1)">&#10094;</a>
    <a class="lightbox-next" onclick="changeImage(1)">&#10095;</a>
</div>
</body>
</html>
