<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>

<div th:replace="cookiebanner :: #cookie-banner"></div>
<script th:src="@{/js/cookie.js}"></script>

<!-- Add jQuery script before profile_posts.js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/profile_posts.js}"></script>

<div th:replace="mobilemenu :: gigel"></div>
<nav th:replace="header :: nav"></nav>
<div class="hero overlay">
  <div class="img-bg rellax">
    <img src="images/hero_2.jpg" alt="Image" class="img-fluid">
  </div>
</div>

<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/profile_posts.css">

<!-- Update the CSRF meta tags to ensure they're properly defined -->
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content" class="content content-full-width">
        <!-- begin profile -->
        <div class="profile">
          <div class="profile-header">
            <!-- BEGIN profile-header-cover -->
            <div class="profile-header-cover" th:style="${user != null && user.coverPhoto != null ? 'background-image: url(' + user.coverPhoto + ');' : ''}"></div>
            <!-- END profile-header-cover -->
            <!-- BEGIN profile-header-content -->
            <div class="profile-header-content">
              <!-- BEGIN profile-header-img -->
              <div class="profile-header-img">
                <img th:if="${user != null && user.profilePhoto != null}" th:src="${user.profilePhoto}" alt="">
                <img th:unless="${user != null && user.profilePhoto != null}" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
              </div>
              <!-- END profile-header-img -->
              <!-- BEGIN profile-header-info -->
              <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">User Name</h4>
                <p class="m-b-10" th:if="${user != null && user.aboutMe != null}" th:text="${user.aboutMe}">User Description</p>
                <div style="height: 50px;"></div>
              </div>
              <!-- END profile-header-info -->
            </div>
            <!-- END profile-header-content -->
            <!-- BEGIN profile-header-tab -->
            <ul class="profile-header-tab nav nav-tabs">
              <li class="nav-item"><a th:href="@{/profile}" class="nav-link active">POSTS</a></li>
              <li class="nav-item"><a th:href="@{/profile_about}">ABOUT</a></li>
              <li class="nav-item"><a th:href="@{/profile_photos}">PHOTOS</a></li>
              <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/profile-videos" target="__blank" class="nav-link_">VIDEOS</a></li>
              <li class="nav-item"><a th:href="@{/friends}">FRIENDS</a></li>
            </ul>
            <!-- END profile-header-tab -->
          </div>
        </div>
        <!-- end profile -->

        <!-- Post creation form -->
        <div class="post-form-container">
          <form id="post-form" class="post-form">
            <textarea id="post-content" placeholder="What's on your mind?" required></textarea>
            <div class="post-form-actions">
              <button type="submit">Post</button>
            </div>
            <!-- Add CSRF token as hidden input -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          </form>
        </div>

        <!-- begin profile-content -->
        <div class="profile-content">
          <!-- begin tab-content -->
          <div class="tab-content p-0">
            <!-- begin #profile-post tab -->
            <div class="tab-pane fade active show" id="profile-post">
              <!-- begin timeline -->
              <ul class="timeline" id="posts-container">
                <!-- Posts will be loaded here -->
                <th:block th:if="${posts != null && !posts.empty}">
                  <li th:each="post : ${posts}" th:id="'post-' + ${post.id}">
                    <!-- begin timeline-time -->
                    <div class="timeline-time">
                      <span class="date" th:text="${#dates.format(post.createdAt, 'MMM dd, yyyy')}">today</span>
                      <span class="time" th:text="${#dates.format(post.createdAt, 'HH:mm')}">04:20</span>
                    </div>
                    <!-- end timeline-time -->
                    <!-- begin timeline-icon -->
                    <div class="timeline-icon">
                      <a href="javascript:;">&nbsp;</a>
                    </div>
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                      <div class="timeline-header">
                        <span class="userimage">
                          <img th:if="${post.user != null && post.user.profilePhoto != null}" th:src="${post.user.profilePhoto}" alt="">
                          <img th:unless="${post.user != null && post.user.profilePhoto != null}" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                        </span>
                        <span class="username">
                          <a href="javascript:;" th:if="${post.user != null}" th:text="${post.user.firstName + ' ' + post.user.lastName}">User Name</a>
                          <small></small>
                        </span>
                        <span class="pull-right text-muted" th:text="${#dates.format(post.createdAt, 'MMM dd, yyyy HH:mm')}">18 Views</span>
                      </div>
                      <div class="timeline-content">
                        <p th:text="${post.content}">
                          Post content goes here.
                        </p>
                      </div>
                      <div class="timeline-likes">
                        <div class="stats-right">
                          <span class="stats-text" th:text="${post.sharesCount} + ' Shares'">0 Shares</span>
                          <span class="stats-text"><span class="comment-count" th:text="${post.comments != null ? post.comments.size() : 0}">0</span> Comments</span>
                        </div>
                        <div class="stats">
                          <span class="fa-stack fa-fw stats-icon">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                          </span>
                          <span class="fa-stack fa-fw stats-icon">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                          </span>
                          <span class="stats-total likes-count" th:text="${post.likesCount}">0</span>
                        </div>
                      </div>
                      <div class="timeline-footer">
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter like-button" th:data-post-id="${post.id}">
                          <i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like
                        </a>
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter comment-toggle">
                          <i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment
                        </a>
                        <a href="javascript:;" class="m-r-15 text-inverse-lighter share-button" th:data-post-id="${post.id}">
                          <i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share
                        </a>
                      </div>
                      <div class="timeline-comment-box">
                        <div class="user">
                          <img th:if="${user != null && user.profilePhoto != null}" th:src="${user.profilePhoto}" alt="">
                          <img th:unless="${user != null && user.profilePhoto != null}" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                        </div>
                        <div class="input">
                          <form class="comment-form" th:data-post-id="${post.id}">
                            <div class="input-group">
                              <input type="text" class="form-control rounded-corner comment-input" placeholder="Write a comment...">
                              <span class="input-group-btn p-l-10">
                                <button class="btn btn-primary f-s-12 rounded-corner" type="submit">Comment</button>
                              </span>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="comments-container">
                        <th:block th:if="${post.comments != null && !post.comments.empty}">
                          <div class="comment" th:each="comment : ${post.comments}" th:id="'comment-' + ${comment.id}">
                            <div class="comment-user">
                              <img th:if="${comment.user != null && comment.user.profilePhoto != null}"
                                   th:src="${comment.user.profilePhoto}"
                                   th:alt="${comment.user.firstName + ' ' + comment.user.lastName}"
                                   class="comment-user-img">
                              <img th:unless="${comment.user != null && comment.user.profilePhoto != null}"
                                   src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                   th:alt="${comment.user.firstName + ' ' + comment.user.lastName}"
                                   class="comment-user-img">
                              <span class="comment-username" th:text="${comment.user.firstName + ' ' + comment.user.lastName}">User Name</span>
                            </div>
                            <div class="comment-content" th:text="${comment.content}">Comment content goes here.</div>
                            <div class="comment-date" th:text="${#dates.format(comment.createdAt, 'MMM dd, yyyy HH:mm')}">Comment date</div>
                          </div>
                        </th:block>
                      </div>
                    </div>
                    <!-- end timeline-body -->
                  </li>
                </th:block>

                <!-- Empty state when no posts -->
                <li th:if="${posts == null || posts.empty}">
                  <div class="timeline-icon">
                    <a href="javascript:;">&nbsp;</a>
                  </div>
                  <div class="timeline-body">
                    <div class="text-center p-4">
                      <h4>No posts yet</h4>
                      <p>Create your first post to share with your friends!</p>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- end timeline -->
            </div>
            <!-- end #profile-post tab -->
          </div>
          <!-- end tab-content -->
        </div>
        <!-- end profile-content -->
      </div>
    </div>
  </div>
</div>

<section th:replace="footer :: section"></section>
</body>
</html>
