<head th:replace="head :: head"></head>
<body>

<div th:replace="cookiebanner :: #cookie-banner"></div>
<script th:src="@{/js/cookie.js}"></script>

<div th:replace="mobilemenu :: gigel"></div>
<nav th:replace="header :: nav"></nav>
	<div class="hero overlay">

		<div class="img-bg rellax">
			<img src="images/hero_2.jpg" alt="Image" class="img-fluid">
		</div>
		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-6 mx-auto text-center">
					<h1 class="heading" data-aos="fade-up">Services</h1>
					<p class="mb-5" data-aos="fade-up">Discover our wide range of travel-related services designed to make your journey smoother, safer, and more enjoyable. From guided tours to travel insurance and airport support, we’ve got everything you need for a worry-free experience.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section service-section-1">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 mb-4 mb-lg-0">
					<div class="heading-content" data-aos="fade-up">
						<h2>Featured <span class="d-block">Servicies</span></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="100">
							<div class="service-1">
								<span class="icon">
									<img src="images/svg/01.svg" alt="Image" class="img-fluid">
								</span>
								<div>
									<h3>Tourism</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="200">
							<div class="service-1">
								<span class="icon">
									<img src="images/svg/02.svg" alt="Image" class="img-fluid">
								</span>
								<div>
									<h3>Package Tours</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="300">
							<div class="service-1">
								<span class="icon">
									<img src="images/svg/03.svg" alt="Image" class="img-fluid">
								</span>
								<div>
									<h3>Travel Insurance</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up"  data-aos-delay="400">
							<div class="service-1">
								<span class="icon">
									<img src="images/svg/04.svg" alt="Image" class="img-fluid">
								</span>
								<div>
									<h3>Airport Lounge Access</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<section th:replace="footer :: section"></section>
	</body>
	</html>
